/***********************
Variables
************************/

$font: 'Lobster',
cursive;
$white: #fff;
$black: #000;
/***********************
Global Section
***********************/

body,
html {
    background-color: $black;
    background-image: url('/assests/images/bgimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}