/***********************
Variables
************************/

$font: 'Do Hyeon',
sans-serif;
$white: #fff;
$black: #000;
$green: #117D10;
$blue: #022A82;
$purp: #642B96;
/***********************
Global Section
***********************/

body,
html {
    background-color: $black;
    background-image: url('/assests/images/bgimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    font-family: $font;
}

.hide {
    display: none;
}

/***********************
Header Section
***********************/

#header {
    text-align: center;
    padding-top: 1em;
}

/***********************
Input Section
***********************/

.username-section,
.radioBtn-section {
    margin: 1em 0;
}

.search-section {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;

    .form-control{
        display: block;
        margin: 1em 0;
    }
    .search-btn {
        display: block;
        width: 100%;
        text-align: center;
        margin: auto;
        background-color: $purp;
        border: 2px solid $purp;
        border-radius: 5px;
        color: $white;
        padding: 0.5em 0;
        transition: all 0.3s ease-in-out;

        &:hover {
            text-decoration: none;
            background-color: rgba(255,255,255, 0.3);
        }
    }
}

/**********************
Output Section
************************/

.inner-solo-content {
    font-size: 1.2em;
    
    div {
        display: inline-block;
    }
}

/***********************
Responsive Section
***********************/

@media screen and (min-width: 768px) {
    .search-section {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
    
        .form-control{
            display: inline-block;
            width: 80%;
        }
        .search-btn {
            display: inline-block;
            width: 18%;
        }
    }
    .form-control {
        max-width: 100%;
    }
    .radio-platform-btns {
        label {
            width: 48%;
        }
    }
}

@media screen and (min-width: 1030px) {
    .radio-platform-btns {
        label {
            width: 31%;
        }
    }
}